In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
# config file for postgres username and password
import config
import os

### Import data sources

In [2]:
# data file paths.
earnings_path = os.path.join("Resources", "Streamer_income.csv")
user_info_path = os.path.join("Resources", "twitchdata-update.csv")

In [3]:
earnings_df = pd.read_csv(earnings_path)
earnings_df.head()

   Rank      Username     UserID  GrossEarning  Unnamed: 4
0     1  CriticalRole  229729353    9626712.16         NaN
1     2         xQcOW   71092938    8454427.17         NaN
2     3      summit1g   26490481    5847541.17         NaN
3     4          Tfue   60056333    5295582.44         NaN
4     5     NICKMERCS   15564828    5096642.12         NaN

In [4]:
user_info_df = pd.read_csv(user_info_path)
user_info_df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

### Earnings cleaning

In [5]:
# drop 'Rank' and 'Unnamed: 4' columns
earnings_df = earnings_df.drop(['Rank', 'Unnamed: 4'], axis = 1)

# rename columns to consistent naming format
earnings_df = earnings_df.rename(columns = {'Username': 'username', 'UserID': 'user_id', "GrossEarning": 'gross_earnings'})

# drop any null values
earnings_df.dropna(inplace=True)

earnings_df.head()

       username    user_id  gross_earnings
0  CriticalRole  229729353      9626712.16
1         xQcOW   71092938      8454427.17
2      summit1g   26490481      5847541.17
3          Tfue   60056333      5295582.44
4     NICKMERCS   15564828      5096642.12

In [6]:
earnings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   username        10000 non-null  object
 1   user_id         10000 non-null  object
 2   gross_earnings  10000 non-null  float64
dtypes: float64(1), object(2)
memory usage: 312.5+ KB

### User_info cleaning

In [7]:
user_info_df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [8]:
# rename columns to consistent formatting.
names = {'Channel': 'username', "Watch time(Minutes)": "watch_time", "Stream time(minutes)": "stream_time", 'Peak viewers': 'peak_viewers', "Average viewers": "avg_viewers", "Followers": 'followers', "Followers gained": 'followers_gained', 'Views gained': 'views_gained', 'Partnered': 'partnered', 'Mature': 'mature', 'Language': 'language'}

user_info_df = user_info_df.rename(columns=names)

user_info_df.head()

,username,watch_time,stream_time,peak_viewers,avg_viewers,followers,followers_gained,views_gained,partnered,mature,language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [9]:
# drop null values
user_info_df.dropna(inplace=True)
user_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   username          1000 non-null   object
 1   watch_time        1000 non-null   int64
 2   stream_time       1000 non-null   int64
 3   peak_viewers      1000 non-null   int64
 4   avg_viewers       1000 non-null   int64
 5   followers         1000 non-null   int64
 6   followers_gained  1000 non-null   int64
 7   views_gained      1000 non-null   int64
 8   partnered         1000 non-null   bool
 9   mature            1000 non-null   bool
 10  language          1000 non-null   object
dtypes: bool(2), int64(7), object(2)
memory usage: 80.1+ KB

In [10]:
# merge info and earnings table to set user_id as the primary key later.
user_info_new_df = user_info_df.merge(earnings_df[['user_id', 'username']], how ='left', on='username')
user_info_new_df.head()

,username,watch_time,stream_time,peak_viewers,avg_viewers,followers,followers_gained,views_gained,partnered,mature,language,user_id
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English,71092938
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English,26490481
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese,181077473
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English,31239503
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English,60056333

In [11]:
'''
split 'user_info_new_df' into two dataframes: user_info_stats_df and user_info_new_df

stats_df contains numerical tracking statistics:
'watch_time', 'stream_time', 'peak_viewers', 'avg_viewers', 'followers', 'followers_gained', 'views_gained'

info_new_df contains user information:
'username', 'partnered', 'mature', 'language'
'''

user_info_stats_df = user_info_new_df[['user_id', 'watch_time', 'stream_time', 'peak_viewers', 'avg_viewers', 'followers', 'followers_gained', 'views_gained']]

user_info_new_df = user_info_new_df[['user_id', 'username', 'partnered', 'mature', 'language']]

user_info_stats_df.head()

,user_id,watch_time,stream_time,peak_viewers,avg_viewers,followers,followers_gained,views_gained
0,71092938,6196161750,215250,222720,27716,3246298,1734810,93036735
1,26490481,6091677300,211845,310998,25610,5310163,1370184,89705964
2,181077473,5644590915,515280,387315,10976,1767635,1023779,102611607
3,31239503,3970318140,517740,300575,7714,3944850,703986,106546942
4,60056333,3671000070,123660,285644,29602,8938903,2068424,78998587

In [12]:
# drop rows where there is no user_id for a given username.
user_info_stats_df.dropna(inplace=True)
user_info_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           771 non-null    object
 1   watch_time        771 non-null    int64
 2   stream_time       771 non-null    int64
 3   peak_viewers      771 non-null    int64
 4   avg_viewers       771 non-null    int64
 5   followers         771 non-null    int64
 6   followers_gained  771 non-null    int64
 7   views_gained      771 non-null    int64
dtypes: int64(7), object(1)
memory usage: 54.2+ KB

In [13]:
# drop rows where there is no user_id for a given username.
user_info_new_df.dropna(inplace=True)
user_info_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    771 non-null    object
 1   username   771 non-null    object
 2   partnered  771 non-null    bool
 3   mature     771 non-null    bool
 4   language   771 non-null    object
dtypes: bool(2), object(3)
memory usage: 25.6+ KB

In [14]:
# merge earnings_df with user_info_new_df to drop any columns that do not exist in user_info_new_df
earnings_new_df = earnings_df.merge(user_info_new_df[['user_id']], how ='right', on='user_id')
earnings_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771 entries, 0 to 770
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   username        771 non-null    object
 1   user_id         771 non-null    object
 2   gross_earnings  771 non-null    float64
dtypes: float64(1), object(2)
memory usage: 24.1+ KB

### Uploading to postgreSQL database

In [66]:
# create postgresql connection engine
engine = create_engine(f'postgresql://{config.username}:{config.password}@localhost:5432/twitch_db')

connection = engine.connect()

In [53]:
# upload user_info data to sql database
user_info_new_df.to_sql(name = 'user_info', con = connection, if_exists='append', index=False)

In [67]:
# upload user_stats data to sql database
user_info_stats_df.to_sql(name='user_stats', con = connection, if_exists='append', index=False)

In [64]:
# upload earnings data to sql database
earnings_new_df.to_sql(name='earnings', con = connection, if_exists='append', index=False)

In [70]:
# query database to check upload completed successfully
pd.read_sql_query("select * from user_info", con = connection).head()

     user_id  username  partnered  mature    language
0   71092938     xQcOW       True   False     English
1   26490481  summit1g       True   False     English
2  181077473    Gaules       True    True  Portuguese
3   31239503  ESL_CSGO       True   False     English
4   60056333      Tfue       True   False     English

In [71]:
# query database to check upload completed successfully
pd.read_sql_query("select * from user_stats", con = connection).head()

,user_id,watch_time,stream_time,peak_viewers,avg_viewers,followers,followers_gained,views_gained
0,71092938,6196161750,215250,222720,27716,3246298,1734810,93036735
1,26490481,6091677300,211845,310998,25610,5310163,1370184,89705964
2,181077473,5644590915,515280,387315,10976,1767635,1023779,102611607
3,31239503,3970318140,517740,300575,7714,3944850,703986,106546942
4,60056333,3671000070,123660,285644,29602,8938903,2068424,78998587

In [72]:
# query database to check upload completed successfully
pd.read_sql_query("select * from earnings", con = connection).head()

     user_id  username  gross_earnings
0   71092938     xQcOW      8454427.17
1   26490481  summit1g      5847541.17
2  181077473    Gaules      2844985.18
3   31239503  ESL_CSGO      1903580.27
4   60056333      Tfue      5295582.44